@import "tailwindcss";

@theme {
  --color-primary: #ff5733;
  --color-secondary:#33b5ff;
  --color-accent:#ffd700;
  --color-background: #fafafa;
  --color-text: #333333;
  --container-container: 1200px;
  --font-Oswald:"Poppins", serif;
}